<div class="left-sidebar">
    <h2>Danh mục khóa học</h2>
    <div class="panel-group category-courses" id="accordian">
        <vc:categories></vc:categories>
	</div>
    <div class="left-sidebar">
    <h2>Danh mục Giảng viên</h2>
        <div class="panel-group category-courses" id="accordian">
			<vc:instructors></vc:instructors>
        </div>
    </div>
</div>  