@model List<CourseModel>

@if (!Model.Any())
{
    <p>@ViewBag.Message</p>
}
else
{
    <ul>
        @foreach (var course in Model)
        {
            <li>
                @course.Name -
                <a asp-action="Watch" asp-route-courseId="@course.Id">Xem video</a>
            </li>
        }
    </ul>
}
