@{
    ViewData["Title"] = "Chưa mua khóa học";
}

<h3>Bạn chưa mua khóa học này.</h3>
<p>Vui lòng mua khóa học để được truy cập video học.</p>
<a asp-controller="Home" asp-action="Index">Quay lại danh sách khóa học</a>
