<div class="left-sidebar">
    <h2>Danh mục khóa học</h2>
    <div class="panel-group category-products" id="accordian">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#laptrinh">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Lập trình
                    </a>
                </h4>
            </div>
            <div id="laptrinh" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">JavaScript</a></li>
                        <li><a href="#">C#</a></li>
                        <li><a href="#">Java</a></li>
                        <li><a href="#">PHP</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#">Thiết kế đồ họa</a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#">Marketing Online</a>
                </h4>
            </div>
        </div>
    </div>
</div>